/* ./Components/Store/ProductPage.css */
.product-images {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.product-images img {
  max-width: 100%;
  height: auto;
  margin: 0 10px;
}

.product-reviews {
  margin: 20px;
}

.product-reviews ul {
  list-style-type: none;
  padding: 0;
}

.product-reviews li {
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
